// colors
$white: white;
$primaryColor: #707070;
$second: #445161;
$textColor: #333333;
$gray: #f5f5f5;


// fonts
$mainFont: Arial, sans-serif;
$iconFont: 'socialicoregular';


// shadows
$mainShadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);

// scrrens
$tablet: '(min-width: 767px)';
$desktop: '(min-width: 1024px)';
